@model List<SchoolApp.Models.AssignmentSubmission>

@{
    ViewData["Title"] = "Enrollments with Details";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="offset-search">
    <form asp-controller="Teacher" asp-action="ListOfAssignSubmissions">
        <input type="text" name="searchString" placeholder="Sarch here...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- offset search area end -->
<!-- body overlay area start -->
<div class="body_overlay"></div>
<!-- body overlay area end -->
<div class="course-area  pt--120 pb--70">
    <div class="container">
        <h1>List of assignment submissions</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Submitted Date</th>
                    <th>Submitted Text</th>
                    <th>Submitted File</th>
                    <th>Student Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in Model)
                {
                    <tr>
                        <td>@(sub.SubmissionDate != null ? sub.SubmissionDate : "N/A")</td>
                        <td>@(sub.SubmissionText != null ? sub.SubmissionText : "N/A")</td>
                        <td>
                            <a href="~/@sub.AnnouncementDocFile">View File</a>
                        </td>
                      @*<td>@(sub.SubmissionFileUrl != null ? sub.SubmissionFileUrl : "N/A")</td>*@
                       <td>@(sub.AppUser != null ? sub.AppUser.UserName : "N/A")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
