@model SchoolApp.Models.AssignmentSubmission
@{
    ViewData["Title"] = "Announcement";
}
@if (Model.IsSubmitted)
{
    <p>Submitted Time: @Model.SubmissionDate.ToString()</p>
    <p>✓ Submission Received</p>
}
else
{
<form method="post" asp-action="SubmitAssignment">
    <fieldset>
      
        <div class="form-group">
            <label asp-for="@Model.Assignment.AssignmentTitle" class="form-label mt-4">Announcement Title</label>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Assignment.AssignmentDescription" class="form-label mt-4">Announcement Description</label>

        </div>
        <div class="form-group">
            <label asp-for="@Model.Assignment.Deadline" class="form-label mt-4">Announcement Description</label>
        </div>
        <div class="form-group">
            <label asp-for="SubmissionText" class="form-label mt-4">submission text</label>
            <input asp-for="SubmissionText" type="text" class="form-control" placeholder="Enter Announcement Title">
            <span asp-validation-for="SubmissionText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SubmissionFileUrl" class="form-label mt-4">Upload Assignment file</label>
            <input asp-for="SubmissionFileUrl" type="file" class="form-control-file" />
            <span asp-validation-for="SubmissionFileUrl" class="text-danger"></span>
        </div>
        
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>

}